services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    image: leonseng/openai-proxy-with-f5-guardrails:0.7
    ports:
      - "${PROXY_PORT}:8000"
    command: ["uvicorn", "main:app", "--log-level", "debug", "--host", "0.0.0.0", "--port", "8000"]
    env_file:
      - ./.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: leonseng/openai-proxy-with-f5-guardrails-frontend:0.1
    ports:
      - "3000:80"
