services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    image: leonseng/openai-proxy-with-f5-guardrails:0.8.1
    ports:
      - "${PROXY_PORT}:8000"
    env_file:
      - ./.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: leonseng/openai-proxy-with-f5-guardrails-frontend:0.1
    ports:
      - "3000:80"
